<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.gotev.uploadservice.okhttp">

    <application>

        <service
            android:name=".UploadService"
            android:enabled="true"
            android:exported="false" >
        </service>

    </application>

</manifest>
